@model MVC6AMLionsBatch.Models.EmpDept
@{
    ViewBag.Title = "GetMulModel";
}

<h2>GetMulModel</h2>

@Model.Emp.EmpId<br />
@Model.Emp.EmpName<br />
@Model.Emp.EmpSalary<br /><br /><br>


@Model.Dep.DeptId<br />
@Model.Dep.DeptName<br />

